In [27]:
import numpy as np
import pandas as pd

In [30]:
dataset = pd.read_csv("currencies.csv")
dataset

,Name,Symbol,Code,Countries,Digits,Number
0,UK Pound,£,GBP,"Guernsey,Isle Of Man,Jersey,United Kingdom Of ...",2.0,826.0
1,Czech Koruna,Kč,CZK,Czechia,2.0,203.0
2,Latvian Lat,Ls,LVL,NaN,NaN,NaN
3,Swiss Franc,CHF,CHF,"Liechtenstein,Switzerland",2.0,756.0
4,Croatian Kruna,kn,HRK,Croatia,2.0,191.0
5,Danish Krone,kr,DKK,"Denmark,Faroe Islands (The),Greenland",2.0,208.0
6,Korean Won,₩,KRW,Korea (The Republic Of),0.0,410.0
7,Swedish Krona,kr,SEK,Sweden,2.0,752.0
8,Turkish Lira,₤,TRY,Turkey,2.0,949.0
9,Hungarian Forint,Ft,HUF,Hungary,2.0,348.0
10,Brazilian Real,R$,BRL,Brazil,2.0,986.0
11,Lithuanian Litas,Lt,LTL,NaN,NaN,NaN
12,Bulgarian Lev,лB,BGN,Bulgaria,2.0,975.0
13,Polish Zloty,zł,PLN,Poland,2.0,985.0
14,US Dollar,$,USD,"American Samoa,Bonaire, Sint Eustatius And Sab...",2.0,840.0
15,Russian Ruble,руб,RUB,Russian Federation (The),2.0,643.0
16,Japanese Yen,¥,JPY,Japan,0.0,392.0
17,Romanian New Leu,lei,RON,Romania,2.0,946.0
18,Norwegian Krone,kr,NOK,"Bouvet Island,Norway,Svalbard And Jan Mayen",2.0,578.0
19,Australian Dollar,$,AUD,"Australia,Christmas Island,Cocos (Keeling) Isl...",2.0,36.0
20,Israeli Shekel,₪,ILS,Israel,2.0,376.0
21,New Zealand Dollar,$,NZD,"Cook Islands (The),New Zealand,Niue,Pitcairn,T...",2.0,554.0
22,Indonesian Rupiah,Rp,IDR,Indonesia,2.0,360.0
23,Philippine Peso,₱,PHP,Philippines (The),2.0,608.0
24,Euro,€,EUR,"Andorra,Austria,Belgium,Cyprus,Estonia,Europea...",2.0,978.0
25,Canadian Dollar,$,CAD,Canada,2.0,124.0
26,Chinese Yuan,¥,CNY,China,2.0,156.0
27,Hong Kong Dollar,$,HKD,Hong Kong,2.0,344.0
28,Indian Rupee,₨,INR,"Bhutan,India",2.0,356.0
29,Mexican Peso,$,MXN,Mexico,2.0,484.0
30,Malaysian Ringgit,RM,MYR,Malaysia,2.0,458.0
31,South African Rand,R,ZAR,"Lesotho,Namibia,South Africa",2.0,710.0
32,Thai Baht,฿,THB,Thailand,2.0,764.0
33,Singaporean Dollar,$,SGD,Singapore,2.0,702.0

In [32]:
x =  dataset[["Name","Countries"]].values
x

array([['UK Pound',
        'Guernsey,Isle Of Man,Jersey,United Kingdom Of Great Britain And Northern Ireland (The)'],
       ['Czech Koruna', 'Czechia'],
       ['Latvian Lat', nan],
       ['Swiss Franc', 'Liechtenstein,Switzerland'],
       ['Croatian Kruna', 'Croatia'],
       ['Danish Krone', 'Denmark,Faroe Islands (The),Greenland'],
       ['Korean Won', 'Korea (The Republic Of)'],
       ['Swedish Krona', 'Sweden'],
       ['Turkish Lira', 'Turkey'],
       ['Hungarian Forint', 'Hungary'],
       ['Brazilian Real', 'Brazil'],
       ['Lithuanian Litas', nan],
       ['Bulgarian Lev', 'Bulgaria'],
       ['Polish Zloty', 'Poland'],
       ['US Dollar',
        'American Samoa,Bonaire, Sint Eustatius And Saba,British Indian Ocean Territory (The),Ecuador,El Salvador,Guam,Haiti,Marshall Islands (The),Micronesia (Federated States Of),Northern Mariana Islands (The),Palau,Panama,Puerto Rico,Timor-Leste,Turks And Caicos Islands (The),United States Minor Outlying Islands (The),United States Of America (The),Virgin Islands (British),Virgin Islands (U.S.)'],
       ['Russian Ruble', 'Russian Federation (The)'],
       ['Japanese Yen', 'Japan'],
       ['Romanian New Leu', 'Romania'],
       ['Norwegian Krone', 'Bouvet Island,Norway,Svalbard And Jan Mayen'],
       ['Australian Dollar',
        'Australia,Christmas Island,Cocos (Keeling) Islands (The),Heard Island And Mcdonald Islands,Kiribati,Nauru,Norfolk Island,Tuvalu'],
       ['Israeli Shekel', 'Israel'],
       ['New Zealand Dollar',
        'Cook Islands (The),New Zealand,Niue,Pitcairn,Tokelau'],
       ['Indonesian Rupiah', 'Indonesia'],
       ['Philippine Peso', 'Philippines (The)'],
       ['Euro',
        'Andorra,Austria,Belgium,Cyprus,Estonia,European Union,Finland,France,French Guiana,French Southern Territories (The),Germany,Greece,Guadeloupe,Holy See (The),Ireland,Italy,Latvia,Lithuania,Luxembourg,Malta,Martinique,Mayotte,Monaco,Montenegro,Netherlands (The),Portugal,Réunion,Saint Barthélemy,Saint Martin (French Part),Saint Pierre And Miquelon,San Marino,Slovakia,Slovenia,Spain,Åland Islands'],
       ['Canadian Dollar', 'Canada'],
       ['Chinese Yuan', 'China'],
       ['Hong Kong Dollar', 'Hong Kong'],
       ['Indian Rupee', 'Bhutan,India'],
       ['Mexican Peso', 'Mexico'],
       ['Malaysian Ringgit', 'Malaysia'],
       ['South African Rand', 'Lesotho,Namibia,South Africa'],
       ['Thai Baht', 'Thailand'],
       ['Singaporean Dollar', 'Singapore']], dtype=object)

In [34]:
y = dataset[["Code"]]
y.values

array([['GBP'],
       ['CZK'],
       ['LVL'],
       ['CHF'],
       ['HRK'],
       ['DKK'],
       ['KRW'],
       ['SEK'],
       ['TRY'],
       ['HUF'],
       ['BRL'],
       ['LTL'],
       ['BGN'],
       ['PLN'],
       ['USD'],
       ['RUB'],
       ['JPY'],
       ['RON'],
       ['NOK'],
       ['AUD'],
       ['ILS'],
       ['NZD'],
       ['IDR'],
       ['PHP'],
       ['EUR'],
       ['CAD'],
       ['CNY'],
       ['HKD'],
       ['INR'],
       ['MXN'],
       ['MYR'],
       ['ZAR'],
       ['THB'],
       ['SGD']], dtype=object)

In [41]:
from skleran.impute import SimpleImputer

ModuleNotFoundError: No module named 'skleran'

In [40]:
imputer = SimpleImputer(missing_values=np.nan,strategy='mean')

NameError: name 'SimpleImputer' is not defined

In [39]:
imputer=imputer.fit(x[:,1:3])

NameError: name 'imputer' is not defined

In [38]:
x[:,1:3]=imputer.transform(x[:,1:3])

NameError: name 'imputer' is not defined